version: "3.9"

services:

  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mqtt_conf:/mosquitto/config

  fastapi-app:
    build: .
    container_name: fastapi-app
    env_file:
      - .env
    environment:
      # existing
      - MQTT_HOST=mqtt-broker
      - ROBOT_TCP_PORT=5001
      - MQTT_PORT=1883
      - PGHOST=192.168.1.111
      - PGPORT=5433
      - PGUSER=${DB_USER}
      - PGPASSWORD=${DB_PASSWORD}
      - PGDATABASE=${DB_NAME}
    ports:
      - "8000:8000"
      - "5001:5001"
    volumes:
      - ./db_backups:/db_backups
      - ./app/logs:/app/logs
    depends_on:                
      - mqtt-broker

  web:
      build:
        context: ./web
      container_name: web-frontend
      ports:
        - "80:80"
      depends_on:
        - fastapi-app

  
  ntp:
    image: cturra/ntp:latest
    container_name: ntp
    restart: unless-stopped
    ports:
      - "123:123/udp"
    environment:
      - TZ=America/Chicago
      - NTP_SERVERS=time1.google.com,time2.google.com,time3.google.com,time4.google.com
    read_only: true
    tmpfs:                             
      - /etc/chrony:rw,mode=1750
      - /run/chrony:rw,mode=1750
      - /var/lib/chrony:rw,mode=1750

volumes:
  chrony-state:
