version: "3.9"

services:

  database:
      image: postgres:16
      container_name: postgres-db
      restart: unless-stopped
      environment:
        POSTGRES_DB: ${DB_NAME}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      ports:
        - ${DB_PORTS}
      volumes:
        - ./postgres/data:/var/lib/postgresql/data
        - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
        - ./db_backups:/var/lib/postgresql/wal_archive  
        # - /mnt/nas/pgdata:/var/lib/postgresql/data
        # - /mnt/nas/wal:/var/lib/postgresql/wal_archive
  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mqtt_conf:/mosquitto/config

  fastapi-app:
    build: .
    container_name: fastapi-app
    env_file:
      - .env
    environment:
      # existing
      - MQTT_HOST=mqtt-broker
      - ROBOT_TCP_PORT=5001
      - MQTT_PORT=1883
      - PGHOST=database
      - PGPORT=5432
      - PGUSER=${DB_USER}
      - PGPASSWORD=${DB_PASSWORD}
      - PGDATABASE=${DB_NAME}
    ports:
      - "8000:8000"
      - "5001:5001"
    volumes:
      - ./db_backups:/db_backups
      - ./logs:/app/log
    depends_on:
      - database                 
      - mqtt-broker

  web:
      build:
        context: ./web
      container_name: web-frontend
      ports:
        - "80:80"
      depends_on:
        - fastapi-app

  
  ntp:
    image: cturra/ntp:latest
    container_name: ntp
    restart: unless-stopped
    ports:
      - "123:123/udp"
    environment:
      - TZ=America/Chicago
      - NTP_SERVERS=time1.google.com,time2.google.com,time3.google.com,time4.google.com
    read_only: true
    tmpfs:                             
      - /etc/chrony:rw,mode=1750
      - /run/chrony:rw,mode=1750
      - /var/lib/chrony:rw,mode=1750

volumes:
  chrony-state:
