version: "3.9"

services:

  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mqtt_conf:/mosquitto/config

  fastapi-app:
    build: .
    container_name: fastapi-fast_server
    env_file:
      - .env
    environment:
      - MQTT_HOST=mqtt-broker
      - NTP_SERVER=ntp
      - PGHOST=192.168.1.111
      - PGUSER=${DB_USER}
      - PGPASSWORD=${DB_PASSWORD}
      - PGDATABASE=${DB_NAME}
      # Batched Config
      - QUEUE_SIZE=${QUEUE_SIZE}
      - B_TIMEOUT=${B_TIMEOUT}
      - BATCHES=${BATCHES}
      # Ports
      - MQTT_PORT=${MQTT_PORT}
      - ROBOT_TCP_PORT=${ROBOT_TCP_PORT}
      - PGPORT=${PGPORT}
    ports:
      - "8000:8000"
    volumes:
      - nas_backups:/db_backups
      - logs:/fast_server/logs
    depends_on:                
      - mqtt-broker

  web:
      build:
        context: ./web
      container_name: web-frontend
      ports:
        - "80:80"
      depends_on:
        - fastapi-app

  tcp:
    build:
      context: .            
      dockerfile: tcp_server/dockerfile

    container_name: tcp-fast_server
    env_file:
      - .env
    environment:
      - PGHOST=192.168.1.111
      - NTP_SERVER=ntp
      - PGPORT=5433
      - PGUSER=${DB_USER}
      - PGPASSWORD=${DB_PASSWORD}
      - PGDATABASE=${DB_NAME}
      - BATCHES=${BATCHES}
      - B_TIMEOUT=${B_TIMEOUT}
      - QUEUE_SIZE=${QUEUE_SIZE}
      - ROBOT_TCP_PORT=5001
    ports:
      - "5001:5001"
    volumes:
      - logs:/fast_server/logs
      

  ntp:
    image: cturra/ntp:latest
    container_name: ntp
    restart: unless-stopped
    ports:
      - "123:123/udp"
    environment:
      - TZ=America/Chicago
      - NTP_SERVERS="time1.google.com,time2.google.com,time3.google.com,time4.google.com"
    cap_add:
      - SYS_NICE
      - SYS_TIME
    volumes:
      - /etc/localtime:/etc/localtime:ro


volumes:
  chrony-state:
  nas_backups:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.1.111,nolock,soft,rw"
      device: ":/volume1/docker/postgres/backups"
  logs:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.1.111,nolock,soft,rw"
      device: ":/volume1/docker/postgres/logs"