*, *::before, *::after { box-sizing: border-box; }

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body {
  background-color: #f5f6fa;
  color: #1e293b; 
}

.card {
  padding: 2em;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a {
  color: #14b8a6;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #2d2d2d;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;  
}

.page-content {
  padding-top: 80px;
  padding: 2rem;
}